@import "tailwindcss";

@theme {
  --color-primary-extra-light: #f6f7f5;
  --color-primary-light: #eef0ec;
  --color-primary: #76806a;
  --color-primary-hover: #5d6653;
  --color-primary-dark: #454c3e;

  --color-secondary-extra-light: #faf7f3;
  --color-secondary-light: #f7f2eb;
  --color-secondary: #9e865e;
  --color-secondary-hover: #cfb89c;
  --color-secondary-dark: #8c7353;

  --color-accent-extra-light: #f9f5ed;
  --color-accent-light: #f4ede0;
  --color-accent: #c4a674;
  --color-accent-hover: #a98a58;
  --color-accent-dark: #785e33;

  --color-neutral-bg: #f8fafc;
  --color-neutral-surface: #ffffff;
  --color-neutral-text: #334155;
  --color-neutral-title: #0f172a;

  --font-sans: 'Inter', system-ui, sans-serif;
}